# Script to generate a SQL inserts as an output




### By : ETTAYEBY Nissrine

### Libraries :

In [31]:
import pandas as pd
import numpy as np
import csv

### Reading the data :

In [32]:
dataframe1 = pd.read_excel('C:\\Users\\ettni\\Downloads\\input.xlsx',sheet_name='etude')  
for key in dataframe1.keys(): 
    dataframe1[key].to_csv('%s.csv' %key)
dataframe1.head(24)

,codification,ecole,diplom,vers_diplom,annee,SM,num_SM,MOD,nom_mod,ELM1,ELM2,ELM3,ELM4
0,HI,ENH,ID,ID,1,S1,1,1,Analyse Numérique Matricielle et Statistique I...,Analyse Numérique Matricielle,Statistique Infirentielle,NaN,NaN
1,HI,ENH,ID,ID,1,S1,1,2,Théorie des Langages et Compilation,NaN,NaN,NaN,NaN
2,HI,ENH,ID,ID,1,S1,1,3,Systéms D\'information et Bases de Données,NaN,NaN,NaN,NaN
3,HI,ENH,ID,ID,1,S1,1,4,Architecture des Ordinnateurs et Systemes d\'e...,Architecture des Ordinnateurs,Systemes d\'exploitation,NaN,NaN
4,HI,ENH,ID,ID,1,S1,1,5,Communication Profesionnelle et Soft Skills-1,Français de Communication -1-,Anglais de Communication-1-,Soft Skills-1,NaN
5,HI,ENH,ID,ID,1,S1,1,6,Recherche d\'Information (RI),NaN,NaN,NaN,NaN
6,HI,ENH,ID,ID,1,S2,2,1,Programmation Orientée Objet JAVA,NaN,NaN,NaN,NaN
7,HI,ENH,ID,ID,1,S2,2,2,Data Mining,NaN,NaN,NaN,NaN
8,HI,ENH,ID,ID,1,S2,2,3,Statistique en Grande dimension,NaN,NaN,NaN,NaN
9,HI,ENH,ID,ID,1,S2,2,4,Entreprenariat-I-,NaN,NaN,NaN,NaN
10,HI,ENH,ID,ID,1,S2,2,5,Modélisation Stochastique,NaN,NaN,NaN,NaN
11,HI,ENH,ID,ID,1,S2,2,6,Administration et Optimisation des Bases de Do...,NaN,NaN,NaN,NaN
12,HI,ENH,ID,ID,2,S3,3,1,Inteligence Artificielle I-Machine Learning,NaN,NaN,NaN,NaN
13,HI,ENH,ID,ID,2,S3,3,2,Programmation Python/Programmation Fonctionnelle,Programmation Python,Programmation Fonctionnelle,NaN,NaN
14,HI,ENH,ID,ID,2,S3,3,3,Architecture Logicielle et UML,NaN,NaN,NaN,NaN
15,HI,ENH,ID,ID,2,S3,3,4,Fondements du Big Data,NaN,NaN,NaN,NaN
16,HI,ENH,ID,ID,2,S3,3,5,Communication Profesionnelle et Soft Skills-II,Français de Communication -2-,Anglais de Communication-2-,Soft Skills-2,NaN
17,HI,ENH,ID,ID,2,S3,3,6,Bases de Données avancées,NaN,NaN,NaN,NaN
18,HI,ENH,ID,ID,2,S4,4,1,Big Data Avancées,NaN,NaN,NaN,NaN
19,HI,ENH,ID,ID,2,S4,4,2,Inteligence Artificielle II-Deep Learning,NaN,NaN,NaN,NaN
20,HI,ENH,ID,ID,2,S4,4,3,Date Werehouse et Data Lake,NaN,NaN,NaN,NaN
21,HI,ENH,ID,ID,2,S4,4,4,Programmation et Architecture Parallèle,NaN,NaN,NaN,NaN
22,HI,ENH,ID,ID,2,S4,4,5,Traitement Automatique de Langue (TAL) naturel...,NaN,NaN,NaN,NaN
23,HI,ENH,ID,ID,2,S4,4,6,Entreprenariat-II-,NaN,NaN,NaN,NaN

### Reading the data :

In [33]:
dataframe2 = pd.read_excel('C:\\Users\\ettni\\Downloads\\input.xlsx', sheet_name='filiere')  
for key in dataframe2.keys(): 
    dataframe2[key].to_csv('%s.csv' %key)
dataframe2

  nom_école nom_filiere version_filiere date_accreditation
0       ENH          ID              ID         2014-07-23
1       ENH          GI              BI         2014-07-23
2       ENH          GI              GL         2014-07-23
3       ENH          GI               X         2014-07-23

In [34]:
etude = dataframe1
filiere = dataframe2

## Handling NA values :

In [35]:
etude = etude.fillna(0)
filiere = filiere.fillna(0)

In [36]:
etude

,codification,ecole,diplom,vers_diplom,annee,SM,num_SM,MOD,nom_mod,ELM1,ELM2,ELM3,ELM4
0,HI,ENH,ID,ID,1,S1,1,1,Analyse Numérique Matricielle et Statistique I...,Analyse Numérique Matricielle,Statistique Infirentielle,0,0.0
1,HI,ENH,ID,ID,1,S1,1,2,Théorie des Langages et Compilation,0,0,0,0.0
2,HI,ENH,ID,ID,1,S1,1,3,Systéms D\'information et Bases de Données,0,0,0,0.0
3,HI,ENH,ID,ID,1,S1,1,4,Architecture des Ordinnateurs et Systemes d\'e...,Architecture des Ordinnateurs,Systemes d\'exploitation,0,0.0
4,HI,ENH,ID,ID,1,S1,1,5,Communication Profesionnelle et Soft Skills-1,Français de Communication -1-,Anglais de Communication-1-,Soft Skills-1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,HI,ENH,GI,GL,3,S5,5,3,0,0,0,0,0.0
65,HI,ENH,GI,GL,3,S5,5,4,0,0,0,0,0.0
66,HI,ENH,GI,GL,3,S5,5,5,0,0,0,0,0.0
67,HI,ENH,GI,GL,3,S5,5,6,0,0,0,0,0.0
68,HI,ENH,GI,GL,3,S6,6,1,0,0,0,0,0.0

In [37]:
diplome = filiere.nom_filiere[0]
ecole = filiere.nom_école[0]
date_acc = filiere.date_accreditation[0]

# Code

In [38]:
#initialisation d'une listes vides qui va contenir toutes les codifications possible HI......
codifications= []

#les tables dont lesquelles on va inserer les données (dans le file_Output.sql)
tab1 ='Mod_Elem_id'
tab2= 'Inscr_Pedag_Id'
tab3= 'Trait_Notes_Id'
tab4= 'List_Mod_Elm_Id'

with open('file_Output.sql','w') as f:
    for AN in range(1,4): #trois ans de cycle d'ingénieur
        codif_1 = 'HI'+diplome.upper()+str(AN)+'04'
        codifications.append(codif_1)
        if AN ==1: 
            f.write(f"--{AN} ère année :\n")
            f.write(f"insert into {tab1} values ('{codif_1}','{ecole}','AN','Etape {AN}',' ','{date_acc}');\n")
        if AN == 2 or AN ==3:
            f.write(f"--{AN} ème année :\n")
            f.write(f"insert into {tab1} values ('{codif_1}','{ecole}','AN','Etape {AN}',' ','{date_acc}');\n")
            
        for semestre in range(1,7): #6 semestres
            if AN==1 and (semestre==1 or semestre==2):
                codif_2 = 'HI'+diplome.upper()+str(semestre)+'004'
                f.write(f"--S{semestre}\n")
                f.write(f"insert into {tab1} values ('{codif_2}','{ecole}','SM0{semestre}','Semestre{semestre}',' ','{date_acc}');\n")
                codifications.append(codif_2)
            elif AN ==2 and (semestre==3 or semestre==4):
                codif_2 = 'HI'+diplome.upper()+str(semestre)+'004'
                f.write(f"--S{semestre}\n")
                f.write(f"insert into {tab1} values ('{codif_2}','{ecole}','SM0{semestre}','Semestre{semestre}',' ','{date_acc}');\n")
                codifications.append(codif_2)
            if AN==3 and (semestre==5 or semestre==6):
                codif_2 = 'HI'+diplome.upper()+str(semestre)+'004'
                f.write(f"--S{semestre}\n")
                f.write(f"insert into {tab1} values ('{codif_2}','{ecole}','SM0{semestre}','Semestre{semestre}',' ','{date_acc}');\n")
                codifications.append(codif_2)
                
            for i in range(len(etude)):
                if etude.nom_mod[i]!=0 and etude.num_SM[i]==semestre and etude.annee[i]==AN:
                    codif_3 = 'HI'+diplome.upper()+str(etude.num_SM[i])+str(etude.MOD[i])+'04'
                    codifications.append(codif_3)
                    f.write(f"insert into {tab1} values ('{codif_3}','{ecole}','MOD','S{semestre}','{etude.nom_mod[i]}',{date_acc});\n")
                    
                if  etude.ELM1[i] != 0 and etude.num_SM[i]==semestre and etude.annee[i]==AN:
                    codif_elm1 = 'HI' + diplome.upper() + str(etude.num_SM[i])+str(etude.MOD[i])+'14'
                    codifications.append(codif_elm1)
                    f.write(f"insert into {tab1} values ('{codif_elm1}','{ecole}','ELM','S{semestre}','{etude.ELM1[i]}',{date_acc});\n")
                    
                if etude.ELM2[i] != 0 and etude.num_SM[i]==semestre and etude.annee[i]==AN:
                    codif_elm2 = 'HI'+diplome.upper()+str(etude.num_SM[i])+str(etude.MOD[i])+'24'
                    codifications.append(codif_elm2)
                    f.write(f"insert into {tab1} values ('{codif_elm2}','{ecole}','ELM','S{semestre}','{etude.ELM2[i]}',{date_acc});\n") 
                    
                if etude.ELM3[i] != 0 and etude.num_SM[i]==semestre and etude.annee[i]==AN:
                    codif_elm3 = 'HI'+diplome.upper()+str(etude.num_SM[i])+str(etude.MOD[i])+'34'
                    codifications.append(codif_elm3)
                    f.write(f"insert into {tab1} values ('{codif_elm3}','{ecole}','ELM','S{semestre}','{etude.ELM3[i]}',{date_acc});\n")
                    
                if etude.ELM4[i] != 0 and etude.num_SM[i]==semestre and etude.annee[i]==AN:
                    codif_elm4 = 'HI'+diplome.upper()+str(etude.num_SM[i])+str(etude.MOD[i])+'44'
                    codifications.append(codif_elm4)
                    f.write(f"insert into {tab1} values ('{codif_elm4}','{ecole}','ELM','S{semestre}','{etude.ELM4[i]}',{date_acc});\n")
                    
                #if etude.nom_mod[i]==0 and etude.num_SM[i]==semestre and etude.annee[i]==AN:
                    #codif_4 = 'HI'+diplome.upper()+str(etude.num_SM[i])+str(etude.MOD[i])+'04'
                    #f.write(f"insert into {tab1} values ('{codif_4}','{ecole}','MOD','S{semestre}','no module exist',{date_acc});\n")
                    #codifications.append(codif_4)
        f.write(f"\n")
    f.write("commit;\n")
    f.write(f"\n")
    f.write(f"\n")
    f.write(f"\n")
    
    #Insertion dans la table : 'Inscr_Pedag_Id'
    
    for cod in codifications:
        f.write(f"insert into {tab2} values ('{ecole}',{cod});\n")
       
    f.write("commit;\n")
    f.write(f"\n")
    f.write(f"\n")
    
    #Insertion dans la table : 'Trait_Notes_Id'
    
    for cod in codifications:
        f.write(f"insert into {tab3} values ({cod},'HTN','T','');\n")
        
    f.write("commit;\n")
    f.write(f"\n")
    f.write(f"\n")
    
    
    #Insertion dans la table : 'List_Mod_Elm_Id'
    
    for AN in range(1,4): #trois ans de cycle d'ingénieur
        codif_0 = 'HI'+diplome.upper()+str(AN)+'4'
        f.write(f"insert into {tab4} values ('{codif_0}','O','O',' VET {AN} Année ID','');\n")
        codif_1 = 'HI'+diplome.upper()+str(AN)+'04'
        #codifications.append(codif_1)
        f.write(f"insert into {tab4} values ('{codif_1}','O','O','VET_ELEM_NOM','','');\n")

        for semestre in range(1,7): #6 Semestres
            if AN==1 and (semestre==1 or semestre==2):
                codif_2 = 'HI'+diplome.upper()+str(semestre)+'004'
                f.write(f"insert into {tab4} values ('{codif_2}','O','O',Semestre{semestre}',' ','');\n")
                #codifications.append(codif_2)
                
            elif AN ==2 and (semestre==3 or semestre==4):
                codif_2 = 'HI'+diplome.upper()+str(semestre)+'004'
                f.write(f"insert into {tab4} values ('{codif_2}','O','O',Semestre{semestre}',' ','');\n")
                #codifications.append(codif_2)
                
            if AN==3 and (semestre==5 or semestre==6):
                codif_2 = 'HI'+diplome.upper()+str(semestre)+'004'
                f.write(f"insert into {tab4} values ('{codif_2}','O','O',Semestre{semestre}',' ','');\n")
                #codifications.append(codif_2)
                
            for i in range(len(etude)):
                if etude.nom_mod[i]!=0 and etude.num_SM[i]==semestre and etude.annee[i]==AN:
                    codif_3 = 'HI'+diplome.upper()+str(etude.num_SM[i])+str(etude.MOD[i])+'04'
                    #codifications.append(codif_3)
                    f.write(f"insert into {tab4} values ('{codif_3}','O','O','{etude.nom_mod[i]}','');\n") 
                    
                #if etude.nom_mod[i]==0 and etude.num_SM[i]==semestre and etude.annee[i]==AN:
                    #codif_4 = 'HI'+diplome.upper()+str(etude.num_SM[i])+str(etude.MOD[i])+'04'
                    #f.write(f"insert into {tab4} values ('{codif_4}','O','O','no module exist','');\n")
                    #codifications.append(codif_4)
                    
        f.write(f"\n")
    f.write("commit;\n")
    f.write(f"\n")
    f.write(f"\n")
    f.write(f"\n")

In [39]:
codifications

['HIID104',
 'HIID1004',
 'HIID1104',
 'HIID1114',
 'HIID1124',
 'HIID1204',
 'HIID1304',
 'HIID1404',
 'HIID1414',
 'HIID1424',
 'HIID1504',
 'HIID1514',
 'HIID1524',
 'HIID1534',
 'HIID1604',
 'HIID2004',
 'HIID2104',
 'HIID2204',
 'HIID2304',
 'HIID2404',
 'HIID2504',
 'HIID2604',
 'HIID204',
 'HIID3004',
 'HIID3104',
 'HIID3204',
 'HIID3214',
 'HIID3224',
 'HIID3304',
 'HIID3404',
 'HIID3504',
 'HIID3514',
 'HIID3524',
 'HIID3534',
 'HIID3604',
 'HIID4004',
 'HIID4104',
 'HIID4204',
 'HIID4304',
 'HIID4404',
 'HIID4504',
 'HIID4604',
 'HIID304',
 'HIID5004',
 'HIID5104',
 'HIID5204',
 'HIID5214',
 'HIID5224',
 'HIID5304',
 'HIID5404',
 'HIID5504',
 'HIID5514',
 'HIID5524',
 'HIID5604',
 'HIID6004',
 'HIID6104']